@page 
@model OdeToCode.Pages.Code_sites.ListModel
@{
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search for restaurant..."
                   asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn">Go!</button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                <a class="btn" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">@restaurant.Name</a>
            </td>
            <td>
                @restaurant.Location
            </td>
            <td>
                @restaurant.Cuisine
            </td>
            <td>
                <a class="btn" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">Details</a>
            </td>
        </tr>
    }
</table>

<div>@Model.Message</div>